POSTGRES_DB=gorev_platformu
POSTGRES_USER=gorev
POSTGRES_PASSWORD=gorev_sifre

RABBITMQ_DEFAULT_USER=gorev
RABBITMQ_DEFAULT_PASS=gorev_sifre

PGADMIN_DEFAULT_EMAIL=admin@gorevplatformu.com
PGADMIN_DEFAULT_PASSWORD=admin_sifre
